/* AQUI COMEÇA A PARTE DE CSS */
@import url("https://fonts.google.com/specimen/Open+Sans?query=open+sans");
@import url("https://fonts.google.com/specimen/Oranienbaum?query=Oranienbaum");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(39, 39, 39);
}

p {
  font-family: "Oranienbaum", sans-serif;
}

#botao-topo {
  content: '';
}

#skills-aqui {
  position: relative;
  top: 150px;
}

.head {
  background-color: #11a36a;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  z-index: 2;
  text-align: center;
}

/* .head::after {
  content: "";
  display: inline;
  width: 100%;
} */

.head h1 {
  color: white;
  font-family: monospace, sans-serif;
  font-size: 4em;
  display: inline;
  margin-right: 0%;
  margin-left: 10%;
}

.head .botao1 {
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.308);

  color: white;
  background-color: #11a36a;
  border: 3px dashed white;

  width: 150px;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
}

.botao1:hover {
  color: black;
  background-color: #005534;
  border: 3px solid black;
}

.subtitulo-portfolio {
  padding: 10px 20px;
  margin: 0;
  background-color: black;
  color: #11a36a;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.grupo1 {
  background-color: white;
  padding: 50px 0 100px;
  text-align: center;
  font-size: medium;
}

.grupo1 .caixa-apresentacao1 {
  width: 500px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}

.grupo1 .caixa-apresentacao2 {
  margin: 10px 10px;
  display: inline-block;
  width: auto;
  position: relative;
  bottom: 0px;
}

.grupo1 .caixa-apresentacao2 img {
  /* border-radius: 50%; */
  border: 5px ridge #11a36a;
  width: 200px;
  padding: 5px;
  background-color: black;
}

.grupo1 h1 {
  background-color: #005534;
  color: #f5f5f5;
  margin: 10px 40px;
  padding: 10px 0px;
  width: 300px;
  position: relative;
  left: 20px;
}

.grupo1 p {
  background-color: #11a36a;
  color: black;
  padding: 10px 20px;
  margin: 0px 0px;
  text-align: justify;
  line-height: 25px;
}

.grupo1 .estudante-dev {
  font-size: 90%;
  background-color: black;
  color: #00d483;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
  padding: 10px;
  width: 70%;
  position: relative;
  left: 100px;
}

#hello {
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  top: 5px;
  right: 30%;
}

a {
  text-decoration: none;
}

.legenda {
  position: relative;
  top: 20px;
  width: 200px;
  margin: 0px 0px;
  font-weight: bolder;
  color: white;
  background-color: #005534;
  padding: 10px 10px;
}

.legenda:hover {
  background-color: black;
  color: #11a36a;
  border: 5px double #005534;
}

#redes {
  padding: 10px 20px;
  margin: 0;
  background-color: black;
  color: #11a36a;
  text-align: center;
  width: 100%;
  z-index: 1;
  
}

.season-redes {
  text-align: center;
  padding: 100px 0px;
  margin: 0;

  background-image: url(/ANDREHORMAN1994.github.io/BackGround/bg01.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.meus-links-redes1 {
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 0;
  margin-bottom: 0px;
  width: 150px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  right: 50px;
}

.meus-links-redes2 {
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 0;
  margin-bottom: 0px;
  width: 150px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  left: 50px;
}

.meus-links-redes1:hover {
  color: black;
  background-color: #005534;
  border: 5px double black;
  font-size: 15px;
}

.meus-links-redes2:hover {
  color: black;
  background-color: #005534;
  border: 5px double black;
  font-size: 15px;
}

.github {
  color: white;
}

.github:hover {
  color: black;
}

.linkedin {
  color: white;
}

.linkedin:hover {
  color: black;
}

.grupo3 {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
  max-width: 100%;
}

.componentes1 {
  background-color: #11a36a;
  line-height: 25px;
  width: 30%;
  margin: 0 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 40px;
}

.componentes2 {
  background-color: #11a36a;
  line-height: 25px;
  width: 30%;
  margin: 0 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 40px;
  position: relative;
  bottom: 30px;
}

.hard-skills {
  color: #f5f5f5;
  margin-bottom: 20px;
}

.soft-skills h2 {
  color: #f5f5f5;
  margin-bottom: 20px;
}

.referencia {
  color: white;
  text-align: center;
  padding: 20px;
}

.citacao-autor {
  font-weight: bold;
  color: #00d382;
}

.botao2 {
  text-align: center;
  display: block;
  background-color: black;
  color: #00d382;
  padding: 10px 0;
}

.botao2:hover {
  background-color: #00d382;
  color: #f5f5f5;
}

.meucorpohtml {
  overflow-x: hidden;
}
