/* AQUI COMEÇA A PARTE DE CSS */
@import url("https://fonts.google.com/specimen/Open+Sans?query=open+sans");
@import url("https://fonts.google.com/specimen/Oranienbaum?query=Oranienbaum");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(27, 27, 27);
}

p {
  font-family: "Oranienbaum", sans-serif;
}

.head {
  background-color: #11a36a;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.head h1 {
  color: white;
  font-family: monospace;
  font-size: 4em;
}

.head .botao1 {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.308);

  color: white;
  background-color: #11a36a;
  border: 3px dashed white;

  width: 150px;
  padding: 10px 20px;
  border-radius: 20px;
}

.botao1:hover {
  color: black;
  background-color: #005534;
  border: 3px solid black;
}

.subtitulo-portfolio {
  padding: 10px;
  background-color: black;
  color: #11a36a;
  text-align: center;
  position: relative;
  top: 80px;
  width: 100%;
  z-index: 1;
}

.grupo1 {
  background-color: white;
  padding: 30px 70px;
  max-width: 80%;
  margin: auto;
}

.grupo1 .caixa-apresentacao1 {
  width: 80%;
  text-align: center;
  margin: 20px 20px;
  margin-top: 70px;
}

.grupo1 .caixa-apresentacao2 img {
  border-radius: 50%;
  border: 5px ridge #11a36a;
  width: 20%;
  padding: 5px;
}

.grupo1 h1 {
  background-color: #005534;
  color: white;
  margin-bottom: 10px;
}

.grupo1 p {
  background-color: #11a36a;
  color: black;
  padding: 10px 10px;
  margin: 10px 20px;
  text-align: justify;
  line-height: 20px;
  
}

.grupo1 .estudante-dev {
  background-color: #005534;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#hello {
  background-color: #005534;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

/*
#legenda {
  float: right;
  position: relative;
  top: 400px;
  right: 2%;
  width: 200px;
  margin: 10px 10px;
  font-weight: bolder;
  
  color: #005534;
  z-index: 4;
}







.redes {
  background-color: black;
  color: #11a36a;
}

.meus-links-redes {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: 630px;
  left: 25%;
}

.meus-links-redes:hover {
  color: black;
  background-color: #005534;
  border: 5px double black;
}

.meus-links-redes2 {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 22px;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: 630px;
  left: 55%;
}

.meus-links-redes2:hover {
  color: black;
  background-color: #005534;
  border: 5px double black;
}

.componentes {
  position: relative;
  margin-top: 9%;
  left: 20%;
  line-height: 20px;
}

#hard-skills {
  color: white;
  margin-left: 30px;
}

.observacoes-importantes {
  position: absolute;
  top: 740px;
  left: 50%;
  line-height: 25px;
}

#soft-skills {
  color: white;
  margin-left: 20px;
}

.grupo3 {
  display: block;
  padding: 10px;
  background-color: #11a36a;
}

.referencia {
  color: white;
  text-align: center;
}

#citacao-autor {
  font-weight: bold;
  color: #11a36a;
}

#botao2 {
  color: white;
  text-decoration: none;
  line-height: 20px;
}

#botao2:hover {
  color: #11a36a;
}
*/

.meucorpohtml {
  overflow: auto;
  overflow-x: hidden;
}
