@media screen and ( max-width : 768px ) {

  body {
    height: max-content;
  }

  .top-bar {
    align-items: center;
    flex-flow: column wrap;
    height: min-content;
    justify-content: center;
    width: 100%;
  }

  .facebook-logo {
    margin: 20px;
  }

  .facebook-login {
    background-color: rgb(110, 149, 226);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
  }

  .form-group input {
    font-size: xx-small;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .form-group label {
    font-size: 13px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .form-group span {
    font-size: xx-small;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: red; */
  }

  .main-content {
    align-items: center;
    flex-flow: column wrap;
    width: 90%;
    margin: 20px auto;
  }

  .left-content {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 50px auto;
    /* max-width: 90%; */
    width: 100%;
  }

  .left-content .facebook-slogan {
    text-align: center;
  }

  .right-content {
    background-color: rgb(245, 243, 243);
    border: 2px solid rgb(66, 103, 178);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.562);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 50px;
    width: 100%;
  }

  .right-content .title-right-container {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .right-content p {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .form-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /* background-color: blue; */
    margin: 0;
  }

  .name-container {
    /* background-color: green; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin: auto;
  }

  .date-tittle {
    align-self: center;
    color: rgb(66, 103, 178);
    width: 100%;
  }

  .gender-tittle {
    align-self: center;
    color: rgb(66, 103, 178);
    width: 100%;
  }

  .gender-container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* background-color: red; */
  }

  .radioButton-Container {
    /* background-color: brown; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
  }

  .radio-gender {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .footer-h2 {
    font-size: 12px;
  }

  .footer-p {
    font-size: 13px;
  }
  input::placeholder {
    text-align: center;
  }
}

@media screen and ( max-width : 460px ) {

  .left-content {
    padding: 0;
    width: 100%;
  }

  .left-content .facebook-slogan {
    font-size: medium;
    width: 100%;
  }

  .left-content img {
    width: 100%;
  }

  .right-content {
    padding: 10px;
  }


  .name-container {
    /* background-color: green; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }


  .footer-h2 {
    font-size: 10px;
  }
}
