@font-face {
  src: url(./fonts/memes/Memes.ttf);
  font-family: meme;
}

@font-face {
  src: url(./fonts/brighly_crush/Brightly\ Crush\ Shine.otf);
  font-family: titulo;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 1;
  color: white;
}

body {
  /* background-color: #f2f2f2; */
  background-image: url(./imgs/fundo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.container-title {
  background-color: #000f08;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.head-title-container {
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  width: 70%;
  text-align: center;
  /* background-color: red; */
}

.title {
  color: #a0ff98;
  width: 100%;
  font-size: 60px;
  font-family: titulo, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
}

.meme-span {
  color: #e0ca3c;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  font-family: titulo, sans-serif;
  /* background-color: blue; */
}

.head-p-container {
  background-color: #e0ca3c;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.p-meme {
  color: black;
  font-weight: 700;
  font-size: 30px;
  font-family: titulo, sans-serif;
}

.p-meme-span {
  font-family: meme, sans-serif;
  font-size: 60px;
  color: black;
  font-weight: 500;
}

.files {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px;
}

.fileSection {
  background-color: #f34213;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0;
  padding: 10px 0;
  width: 400px;
}

.filesItems {
  font-size: 15px;
}

.text-input {
  border: 1px solid black;
  line-height: 10px;
  padding: 5px 10px;
  width: 200px;
  text-align: center;
  color: #000f08;
}

.meme-insert {
  padding: 5px 20px;
  width: 700px;
  cursor: pointer;
  /* background-color: #E0CA3C; */
}

.button-move-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.buttons-move {
  color: #000f08;
}

.meme-image-container {
  /* background-color: white; */
  border: 1px solid black;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 400px;
}

.meme-image {
  height: 100%;
  width: 100%;
}

.meme-text {
  bottom: 0;
  color: white;
  font-size: 30px;
  margin: 10px;
  position: absolute;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.borders {
  margin: 40px;
  text-align: center;
}

.button {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.fire {
  background-color: red;
}

.water {
  background-color: blue;
}

.earth {
  background-color: green;
}
/* 
.title2 {
  color: black;
  text-align: center;
} */

.miniature {
  text-align: center;
  margin-bottom: 20px;
}

.miniatureImg {
  display: inline-block;
  height: 80px;
  margin: 0 10px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #f2f2f2;
  cursor: pointer;
}

.miniatureImg:hover {
  border: 1px solid black;
}

.footer-container {
  background-color: #000f08;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.footer-container h2 {
  /* background-color: #f2f2f2; */
  color: #e0ca3c;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  font-weight: 2;
}

.footer-container p {
  /* background-color: #7d0000; */
  color: white;
  font-weight: 2;
  font-size: 20px;
  width: 100%;
  padding: 10px;
}
